{% block genre_input_widget %}
    <div class="input-group">
        {{ form_widget(
            form,
            {'attr':{'data-toggle':'tagsinput','data-tags':genres|map(genreObj => genreObj.name)|json_encode}})
        }}
        <span class="input-group-addon">
            <span class="fa fa-tags" aria-hidden="true"></span>
        </span>
    </div>
{% endblock %}
